.wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  height: 90px;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -190px;
  }
}

@keyframes scrollRight {
  to {
    right: -190px;
  }
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 190px;
  position: absolute;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.left {
  left: max(calc(210px * 12), 100%);
  animation-name: scrollLeft;
}

.right {
  right: max(calc(210px * 12), calc(100% + 200px));
  animation-name: scrollRight;
}
